<p id='notice'><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @housing_type.name %>
</p>

<%= link_to 'Edit', edit_housing_type_path(@housing_type) %> |
<%= link_to 'Back', housing_types_path %>
