<h1>Betingelser, Billetk&oslash;b - v1.00</h1>
<h2>Den ansvarlige for GC Sommerlejren (herefter <b>Sommerlejren</b>) g&oslash;r opm&aelig;rksom p&aring; at det p&aring;ligger billetk&oslash;ber, inden k&oslash;b, at:</h2>
<p>
  Kontrollere, at billet(ter) g&aelig;lder det korrekte arrangement, dato og tidspunkt.<br/>
  Kontrollere, at Sommerlejren er k&oslash;ber bekendt.
</p>
<h2>Fortrydelsesret</h2>
<p>
  K&oslash;bt(e) billet(ter) refunderes ikke.<br/>
  Billet(ter) refunderes kun i tilf&aelig;lde af aflysning.
</p>
<h2>Erstatning af bortkomne billet(ter)</h2>
<p>
  Billet(ter) erstattes ikke ved bortkomst, men er de blevet v&aelig;k kan du kontakte Sommerlejren og f&aring; dem fremsendt igen - gebyr kan forekomme.
</p>
<h2>Kopi og Videresalg af billet(ter)</h2>
<p>
  Hver k&oslash;bte billet har sin eget unikke nummer, g&aelig;ldende til et bestemt arrangement i henhold til Sommerlejren tekst for dette arrangement. Det er derfor strengt forbudt, samt ligestilles med fors&oslash;g p&aring; bedrag, at kopiere en billet med henblik p&aring; at opn&aring; adgang for flere med samme billet. Alle fors&oslash;g herp&aring; vil blive politianmeldt og Sommerlejren g&oslash;r opm&aelig;rksom p&aring;, at det er f&oslash;rst ankomne billetindehaver, som opn&aring;r adgang.<br/>
  Videresalg af billet er ikke tilladt af hensyn til deltagerlister. Hvis man er forhindret i at deltage i et arrangement, kan man kontakte sommerlejrudvalget, som vil v&aelig;re behj&aelig;lpelige med at fors&oslash;ge at afs&aelig;tte billetten.
</p>
<h2>&AElig;ndring af dato for arrangement</h2>
<p>
  &AElig;ndres dato for et arrangement skal billetk&oslash;ber have besked om den nye dato inden for 72 timer. Efter 72 timer kan billetk&oslash;ber oph&aelig;ve k&oslash;bet og Sommerlejren skal have besked herom omg&aring;ende og tilbagebetale som &rdquo;Ved aflysning af arrangement&quot;.
</p>
<h2>Ved aflysning af arrangement</h2>
<p>
  Hvis et arrangement aflyses vil Sommerlejren godtg&oslash;re billet(ten)s pris - gebyr kan forekomme, samt nogle gebyrer refunderes ikke. Billetten refunderes kun af Sommerlejren.
</p>
<h2>Reklamationer</h2>
<p>
  Enhver form for reklamation, der vedr&oslash;rer selve arrangementet, samt k&oslash;bet af billet(ter) skal rettes direkte til Sommerlejren &ndash; <%= mail_to 'sommerlejr@giftedchildren.dk' %>.
</p>
<h2>Forbehold for fejl og mangler</h2>
<p>
  Arrang&oslash;r tager forbehold for fejl og mangler i priser og beskrivelser m.m.
</p>
<h2>Betaling</h2>
<p>
  Vi tilbyder flere mulige betalingsmetoder. Den mest sikre, og den betalingsform vi anbefaler alle kunder, er at betale med et betalingskort. Vi accepterer f&oslash;lgende korttyper: 
  <ul>
    <li/>
      Visa/Dankort
    <li/>
      Visa
    <li/>
      Visa Electron
    <li/>
      MasterCard
    <li/>
      MasterCard Debit
    <li/>
      Maestro
  </ul>
</p>
<h2>S&aelig;lgers (Sommerlejrens) ansvar</h2>
<p>
  Det er alene S&aelig;lgerens (sommerlejrens) ansvar at et &quot;salg&quot;(produkt, ydelse, arrangement) gennemf&oslash;res/finder sted/afvikles. I tilf&aelig;lde af at en gennemf&oslash;relse ikke finder sted (aflysning), h&aelig;fter S&aelig;lgeren (sommerlejren) for at tilbagebetale det fulde indbetalte bel&oslash;b til billetk&oslash;beren(minus evt. gebyrer). I tilf&aelig;lde af at S&aelig;lgeren(sommerlejren) g&aring;r i betalingsstandsning/konkurs, er billetk&oslash;beren henvist til at s&oslash;ge sig d&aelig;kket hos boet for betalingsstandsningen/konkursen.
</p>
<h2>S&aelig;lgers (Sommerlejrens) ret til l&oslash;bende at sende e-mails</h2>
<p>
  Det er alene S&aelig;lgerens (arrang&oslash;rens) ansvar at udsende orienterende e-mails vedr&oslash;rende et arrangement som billetk&oslash;ber har tilmeldt/k&oslash;bt billetter til og kan ikke betegnes som &quot;SPAM&quot; fra Sommerlejren. Ved misbrug og heraf klager over et forhold hvor Sommerlejren ikke alene sender orienterende e-mails skal s&aring;danne klager sendes til Sommerlejren.
</p>
<h3>Ovenst&aring;ende betingelser vil l&oslash;bende blive opdateret i henhold til generelle krav herom samt lovgivning.</h3>
